.service-applications {
  height: 100vh;
  min-height: 800rem;
  background-image: url("/assets/images/background.png");
  background-size: cover;
  .service-applications-content {
    flex: 1;
    padding: 10rem;
  }
  .grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20rem;
    .grid-item-title {
      font-size: 16rem;
    }
    .grid-item-content {
      flex: 1;
    }
  }
  .applicant-count {
    color: #08e5ff;
    font-weight: bold;
    line-height: 55rem;
    display: flex;
    align-items: center;
    .applicant-count-label {
      font-size: 19rem;
    }
    .applicant-count-value {
      flex: 1;
      display: flex;
      align-items: flex-end;
    }
    .applicant-count-number {
      flex: 1;
      margin: 3rem;
      height: 56rem;
      font-size: 33rem;
      text-align: center;
      background-color: rgba(4, 49, 128, 0.6);
    }
    .applicant-count-separate {
      font-size: 19rem;
    }
  }
}
