.disabled-person {
  height: 100vh;
  min-height: 800rem;
  background-image: url("/assets/images/background.png");
  background-size: cover;
  ::before {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .disabled-person-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 10rem;
  }
  .grid-layout-container {
    width: 100%;
    height: 100%;
  }
  .grid-item-content {
    width: 100%;
    height: 100%;
  }
}
