.service-agencies {
  height: 100vh;
  min-height: 800rem;
  background-image: url("/assets/images/background.png");
  background-size: cover;
  .service-agencies-content {
    flex: 1;
    padding: 10rem;
  }
  .grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20rem;
    .grid-item-title {
      font-size: 16rem;
    }
    .grid-item-content {
      flex: 1;
    }
  }
  .agency-statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .agency-statistics-item {
      text-align: center;
    }
    .agency-statistics-value {
      font-size: 20rem;
      color: #08e5ff;
    }
    .agency-statistics-icon {
      width: 30rem;
      height: 30rem;
      margin-right: 8rem;
    }
    .agency-statistics-name {
      font-size: 16rem;
    }
  }
  .business-statistics {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 5rem;
    .business-statistics-item {
      flex: 1;
      margin: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(4, 49, 128, 0.6);
      border: 2rem solid rgba(1, 153, 209, 0.5);
    }
    .business-statistics-value {
      font-size: 30rem;
      font-weight: bold;
      color: #08e5ff;
    }
    .business-statistics-unit {
      font-size: 16rem;
      color: #08e5ff;
    }
    .business-statistics-name {
      font-size: 16rem;
    }
  }
  .stack-chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
