.row-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .row-chart-row {
    min-height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row-chart-row-header {
      .row-chart-row-index {
        color: #1370fb;
        margin-right: 1em;
      }

      .row-chart-row-value {
        float: right;
      }
    }

    .row-chart-row-body {
      background-color: #1370fb;
      height: 6rem;
      min-width: 1rem;
    }

    .row-chart-row-footer {
      height: 2rem;
      margin-top: 2rem;
      background-color: rgba(19, 112, 251, .5);
    }
  }
}